
@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fadeSlide {  
  animation: fadeSlide 0.6s ease-out forwards;
}


@keyframes rainbowShift {
  0% { 
    background-position: 0% 50%; 
}
  50% { 
    background-position: 100% 50%;
 }
  100% { 
    background-position: 0% 50%; 
}
}

.rainbow-row {
  background: linear-gradient(270deg, #facc15e1, #f472b5d7, #60a5fac9, #34d399e5, #f43f5dce);
  background-size: 400% 400%;
  transition: all 0.5s ease;
  animation: rainbowShift 8s ease infinite;
}


.hover-row-glow:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 20px rgba(147, 51, 234, 0.5);
  color: white;
}


@keyframes headerGradient {
  0% { 
     background-position: 0% 50%; 
}
  50% { 
    background-position: 100% 50%; 
}
  100% {
     background-position: 0% 50%; 
}
}

.animate-headerGradient {
  background-size: 200% 200%;
  animation: headerGradient 6s ease infinite;
}


.table-container {
  animation: fadeSlide 0.8s ease-in-out forwards;
}
